/*--- CONTENTS ---*/
.contents{
    width: 100%;
    height: 100%;
    /* margin-left:15%; */
    padding : 40px 80px 40px 80px;
    overflow: auto;
    position: relative;
}

button {
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5em;
    width: 80px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(52, 152, 219);
    border: none;
    margin-bottom: 10px;
  }